# {{ ansible_managed }}
[Interface]
Address = {{ wg_subnet_prefix }}.2/24
PrivateKey = {{ client_privatekey }}

[Peer]
PublicKey = {{ server_publickey }}
Endpoint = {{ wg_endpoint }}:{{ wg_port }}
AllowedIPs = {{ wg_subnet_prefix }}.0/24
PersistentKeepAlive = 25