# {{ ansible_managed }}
[Interface]
Address = {{ wg_subnet_prefix }}.1/24
ListenPort = {{ wg_port }}
PrivateKey = {{ server_privatekey }}

[Peer]
PublicKey = {{ client_publickey }}
AllowedIPs = {{ wg_subnet_prefix }}.0/24